/* Creator */
.creator {
  margin: 80px 0;
  padding-bottom: 70px;
  border-bottom: 1px solid $gray-lighten;
  @media (max-width: $mobile) {
    margin: 50px 0;
    padding-bottom: 50px;
  }
}

.creator__img {
  display: block;
  max-width: 90px;
  max-height: 90px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: $gray-white;
  transition: opacity 100ms ease;
  &:hover {
    .avatar {
      opacity: 0.9;
    }
  }
}

.creator__name {
  margin-bottom: 15px;
  font-size: 37px;
  text-align: left;
  color: $gray;
}

.creator__nim {
  max-width: 450px;
  margin: 0 auto 30px;
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  color: $gray-blue;
}
